* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.main-div {
  background-color: #eed1ac;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec-1 {
  background-color: white;
  width: 800px;
  padding: 40px;
}
.sec-1 .img {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.sec-1 .img img {
  max-width: 100%;
  width: 100%;
  border-radius: inherit;
}

.sec-1 h2 {
  font-size: 60px;
  margin: 20px 0;
}
.sec-1 p {
  font-size: 22px;
  color: #777;
  line-height: 1.6;
}

.prep {
  background-color: rgb(251, 238, 251);
  padding: 15px;
}

.prep h3 {
  margin-bottom: 20px;
  color: #751287;
  font-size: 30px;
}

.prep ul li {
  padding: 10px;
  list-style-position: inside;
  color: #444;
}

.prep ul li p {
  display: inline-block;
  color: rgb(65, 53, 36);
}

.prep ul li p span {
  font-weight: bold;
}

.ingred {
  padding: 15px;
  position: relative;
}

.ingred h3 {
  margin-left: -15px;
  color: rgb(65, 53, 36);
  font-size: 50px;
  margin-bottom: 20px;
}

.ingred li {
  padding: 10px 25px;
  margin-left: 20px;
  list-style-position: outside;
  color: rgb(65, 53, 36);
  font-size: 20px;
}

.ingred::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 1px;
  background-color: rgb(65, 53, 36);
}

.sec-2 {
  background-color: white;
  width: 800px;
  padding: 40px;
}
.instructions {
  position: relative;
}
.instructions::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 1px;
  background-color: rgb(65, 53, 36);
}

.sec-2 h3 {
  font-size: 50px;
  color: rgb(65, 53, 36);
  margin-bottom: 20px;
}

.sec-2 li {
  padding: 10px 25px;
  margin-left: 35px;
  list-style-position: outside;
  color: rgb(65, 53, 36);
  font-size: 20px;
  font-weight: bold;
}

.sec-2 p {
  font-weight: normal;
  color: #444;
  line-height: 1.6;
}

.sec-3 {
  background-color: white;
  width: 800px;
  padding: 40px;
}

.sec-3 h3 {
  font-size: 50px;
  color: rgb(65, 53, 36);
  margin-bottom: 20px;
}

.sec-3 p {
  color: #444;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.sec-3 li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
}
.sec-3 .main-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sec-3 .na-list {
  color: #444;
  font-size: 20px;
}

.sec-3 .va-list {
  color: brown;
  font-weight: bold;
}

.sec-3 .line > li {
  position: relative;
}

.sec-3 .line > li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 568%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #444;
}

@media (max-width: 768px) {
  .sec-1 {
    width: 100%;
    padding: 0 10px;
  }
  .sec-1 .img {
    border-radius: 0;
  }
  .sec-1 .text {
    padding: 0 15px;
  }
  .sec-1 h2 {
    font-size: 32px;
  }
  .sec-1 p {
    font-size: 16px;
    color: #777;
    line-height: 1.3;
  }

  .prep {
    width: 270px;
    margin: 15px auto;
  }
  .prep h3 {
    font-size: 22px;
    margin-bottom: 11px;
  }

  .ingred {
    padding: 0 15px;
  }

  .ingred h3 {
    font-size: 30px;
    margin-left: 0;
  }
  .ingred ul li {
    font-size: 17px;
  }
  .instructions {
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    margin: 0 auto;
  }
  .instructions h3 {
    font-size: 30px;
  }
  .instructions li {
    font-size: 17px;
  }

  .instructions li p {
    font-size: 15px;
  }

  .nutrition {
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    margin: 0 auto;
  }

  .nutrition h3 {
    font-size: 30px;
  }
  .nutrition p {
    font-size: 15px;
  }
  .nutrition ul li { 
    font-size: 17px;
  }
  .sec-3 .line > li:not(:last-child)::after {
  width: 300%;
}
}
